[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Gammastep
Comment=Display colour temperature adjustment
Exec=/usr/bin/gammastep
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

